
#header-1 {
  width: 100%;
  height: 150px;
  background: #fff;
  box-shadow: 5px 15px 20px -20px #b6b6b6;
  border-top: 0.4px solid rgba(182, 182, 182, 0.25);
}

#header-1--container {
  width: 98.5%;
  height: 93%;
  margin: 4px auto;
  position: relative;
}

#header-1--social {
  min-width: 10%;
  max-width: 50%;
  height: 20%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 3px 55px;
  padding: 0 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#header-1--social i {
  margin: 6px 6px;
  transition: opacity 200ms;
  transition-timing-function: ease;
}

#header-1--logo {
  width: auto;
  height: auto;
  max-width: 200px;
  margin: -25px 22px;
  position: absolute;
  left: 0;
}

#header-1--lang-selector {
  width: 45px;
  background-color: #FFF;
  position: absolute;
  right: 0;
  border: none;
  padding-left: 4px;
  margin: 7px 10px;
  border-top: 0.4px solid rgba(182, 182, 182, 0.25);
}

#header-1--lang-selector select {
  border: none;
}

#header-1--menu {
  width: 60%;
  height: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#header-1--menu li {
  margin: auto;
}

#header-1--menu a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-size: 0.97rem;
}

#header-1--menu a:hover {
  opacity: 0.7;
}

#main-menu--toggle {
  color: #A9A9A9;
  display: none;
  right: -3px;
  position: absolute;
  font-size: 1.2rem;
}


@media (max-width: 768px) {
  #header-1--menu li {
    display: none;
  }

  #main-menu--toggle {
    margin: 6px 6px;
    transition: opacity 200ms;
    transition-timing-function: ease;
    width: 40px;
    display: inline-block;
  }


}



/* DEBUG STYLES */

/*
#header-1 {
  border: 2px solid firebrick;
}

#header-1--container {
  border: 1px dashed navy;
}

#header-1--container::after {
  content: "#header-1-container";
  color: navy;
}


#header-1--social {
  border: 1px dashed purple;
}

#header-1--logo {
  border: 1px dashed gold;
}

#header-1--menu {
  border: 2px dashed orange;
*/
/* */