# Entornos virtuales
.env
env/
pyenv/
jsenv/
rbenv/
.ruby-version

# Archivos de compilación
__pycache__/
*.pyc
*.o
*.cpp~
.babelrc
.ipynb_checkpoints/
*.dll

# Configuración de bibliotecas
requirements-dev.txt
node_modules/
package-lock.json
package.json

# Archivos y directorios privados
private/
load_env.sh

# Archivos de pruebas rápidas
prueba.*
prueba/

# Imágenes de dispositivos virtuales
*.iso
*.vmdk

# Ejecutables
*.exe
*.msi

# Archivos comprimidos
*.rar
*.zip

# Otros archivos
*.url
travis_wait*.log