# Virtual environments
.env
env/
pyenv/
jsenv/
rbenv/
.ruby-version

# Archivos de compilación
__pycache__/
*.pyc
*.o
*.cpp~
.babelrc
.ipynb_checkpoints/

# Configuración de bibliotecas
requirements-dev.txt
node_modules/
package-lock.json
package.json

# Private files and folders
private/
load_env.sh

# Archivos de pruebas rápidas
prueba.*
prueba/

# Imágenes de sistemas operativos
*.iso
*.vmdk

# Programas
*.exe
*.msi

# Archivos comprimidos
*.rar
*.zip

# Otros archivos
*.url