br
.container
  .row
    .col.s6
      svg(width="500" height="300")
        defs
          g#forma
            rect(x="10" y="10" width="100" height="100" fill="#00796b")
            circle(cx="100" cy="100" r="50" stroke="#0288d1" fill="none")  
        use(xlink:href="#forma" x="50" y="50")
        use(xlink:href="#forma" x="200" y="50")
        
    .col.s6
      h5 Reutilizar elementos
      p Podemos crear elementos y volver a usarlos en diferentes partes. Tan sólo debemos insertarlo dentro de una etiqueta <code>defs</code>, proveerle un identificador y usar la etiqueta <code>use</code>, donde le indicaremos el atributo <code>xlink:href</code> apuntando al identificador.
      p Los siguientes elementos pueden ser reutilizados con <code>defs</code>:
      ul
        li Cualquier elemento de forma (<code>line</code>, <code>rect</code>, <code>circle</code>...)
        li Grupos (<code>g</code>)
        li Símbolos (<code>symbol</code>)
      br      
      hr
      br
      br
      center
        a.btn.cyan.darken-3(href="https://codepen.io/mondeja/post/dibujo-vectorial-con-svg" target="__blank") Volver al índice
        a.btn.indigo.darken-4(href="https://codepen.io/mondeja/pen/zPMmyP" target="__blank") Animaciones ->
      br
      
  