br
.container
  .row
    .col.s4
      center
        a.btn.indigo#fadeout_button FADEOUT
        h5#div1 fadeOut()
        h6#div2 (se desvanece)
    .col.s4
      center
        a.btn.red#fadetoggle_button FADETOGGLE
        h5#div3 fadeToggle()
        h6#div4 (muestra y oculta)
    .col.s4
       center
         a.btn.green#fadeto FADETO
         h5#div5 fadeTo()
         h6#div6 (cambio de opacidad)
  center
    a(href="https://api.jquery.com/category/effects/fading/") Documentación jQuery sobre efectos de fading
    
    