head
   link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

body
  br
  .container
    br
    
    h5 Demostración de botones en materialize.css
    a.left(href="https://material.io/guidelines/components/buttons.html#buttons-flat-buttons")
      h6
        b Documentación de Material Design
    a.right(href="https://github.com/Dogfalo/materialize/blob/v1-dev/sass/components/_buttons.scss")
      h6
        b - Código fuente
    a.right(href="https://http://materializecss.com/buttons.html")
      h6
        b Documentación de Materialize -
    
    br
    br
    
    // Botón con relieve
    a.btn.indigo.z-depth-1#boton_con_relieve Botón con relieve
    
    // Boton con icono
    a.btn.red
      i.material-icons.right cloud
      | Boton con icono
      
    // Botón grande
    a.btn-large Botón grande
    
    // Botón deshabilitado
    a.btn.disabled Botón deshabilitado
    
    // Botón flotante
    a.btn-floating.green.darken-1
      i.material-icons add
    
    // Botón plano
    a.btn-flat Botón plano
      