br
.container
  .row
    .col.s6
      #opener Pulsa para desplegar/replegar
      #panel Con las funciones <code>slideDown()</code> y <code>slideUp()</code> podemos crear  un desplegable replegable con jQuery, pero también podríamos usar la función <code>slideToggle()</code>.
    .col.s6
      center 
        a(href="http://api.jquery.com/category/effects/sliding/") Documentación de funciones de sliding en jQuery.