br
.container
  .row
    .col.s5
     
      br
      
      p Este es un texto normal, pero antes de la palabra <span id="palabra">hola</span> aparecerá un triple guión bajo y después aparecerá un asterisco. <span id="texto">Mira el código</span> HTML.
      
      p#revoloteado Si pasas por encima de este texto se activa el pseudoelemento <code>:hover</code>.
          
    .col.s7
      p.right
        b
          a(href="https://developer.mozilla.org/es/docs/Learn/CSS/Introduction_to_CSS/Pseudo-clases_y_pseudo-elementos") Referencia
      h5 Pseudoelementos
      
          
      p Con los pseudoelementos <code style="color:#c62828">::before</code> y <code style="color:#2e7d32">::after</code> podemos añadir contenido antes y después de los elementos en los cuales los aplicamos desde el CSS.
      
      p Con la pseudoclase <code style="color:#6a1b9a">:hover</code> podemos aplicar los estilos a un elemento cuando le pasamos el mouse por encima.
      
      blockquote Existen muchas otras pseudoclases y pseudoelementos, ojea la referencia.
      