rb
.container
  .row
    .col.s6
    
      // Translate
      svg(height="95px" width="300px")
        rect(x="20" y="20" width="50" height="50" stroke="#673ab7" fill="none")
        rect(x="20" y="20" width="50" height="50" fill="#311b92" transform="translate(75,25)")
        text(x="80" y="20") translate(75,25)
        
      // Rotate
      svg(height="95px" width="100px")
        rect(x="20" y="25" width="40" height="40" stroke="#8bc34a" fill="none")
        rect(x="20" y="25" width="40" height="40" fill="#33691e" transform="rotate(15 0 0)")
        text(x="0" y="12") rotate(75,25)
      
      // Scale
      svg(height="95px" width="120px")
        rect(x="10" y="10" width="20" height="30" stroke="#ff9800" fill="none")
        rect(x="10" y="10" width="20" height="30" fill="#e65100" transform="scale(2,3)")
        text(x="40" y="12") scale(2,3)
      
      // Skew
      svg(height="95px" width="300px")
        rect(x="100" y="20" width="30" height="50" stroke="#2196f3" fill="none")
        rect(x="150" y="20" width="30" height="50" fill="#0d47a1" transform="skewX(45)")
        text(x="120" y="12") skewX(45)
    
    .col.s6
      h5 Transformaciones
      blockquote En SVG podemos aplicar transformaciones a los elementos, para moverlos, rotarlos, escalarlos...
      p Con la función <code style="color:#311b92;">translate(x, y)</code> podemos mover un elemento las coordenadas relativas que le indiquemos como parámetros <code>x</code>, <code>y</code>.
      p Con la función <code style="color:#33691e;">rotate(grados, x, y)</code> giramos un elemento los grados que le indiquemos como primer parámetro en el sentido de las agujas del reloj. Los parámetros <code>x</code>, <code>y</code> indican la traslación del elemento.
      p Con la función <code style="color:#e65100;">scale(x, y)</code> podemos redimensionar una figura en cuanto a su ancho y a su alto según los parámetros <code>x</code>, <code>y</code>. Si proveemos un sólo parámetro, <code>x</code> e <code>y</code> lo tomarán.
      p Las funciones <code style="color:#0d47a1;">skewX(grados)</code> y <code style="color:#0d47a1;">skewY(grados)</code> inclinan la figura una cantidad de grados indicados como parámetro.
      
      blockquote Las transformaciones <a href="http://tutorials.jenkov.com/svg/svg-transformation.html" target="__blank">pueden expresarse también como matrices</a>.
      
      br
      hr
      br
      
      center
        a.btn.cyan.darken-3(href="https://codepen.io/mondeja/post/dibujo-avanzado-con-svg" target="__blank") Volver al índice
        a.btn.indigo.darken-4(href="https://codepen.io/mondeja/pen/xPQzJY" target="__blank") Manipular textos ->
      
      
      
      
      
      
      
  