@import "../../../../static/css/vendors/materialize/components/_color";
@import "../../../../static/css/vendors/materialize/components/_variables";

footer {
	background-color: $primary-color;
	position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
}

#footer-copy {
	background-color: $primary-color;
}