
#show-workers
  | {% module xsrf_form_html() %}
  ul#workers-list
    li(v-for="worker in workers")
      .card
        .card-panel#worker-panel
          .row
            .col.s8
              p#worker-title ${ worker.title }
            .col.s4
              a.top-worker-button.right(v-on:click="del(worker._id)")
                i.material-icons.top-worker-icon delete
              a.top-worker-button.right(v-on:click="edit(worker._id, worker.title, worker.address, worker.password)")
                i.material-icons.top-worker-icon edit

        .card-content
          p Address:  ${ worker.address }
          p Password:  ${ "*".repeat(worker.password.length) }
// Add worker modal button
include ./../add_workers_button/index.jade

