@import "../../../../static/css/vendors/materialize/components/_color";
@import "../../../../static/css/vendors/materialize/components/_variables";

#menu-subheader {
	color: #FFF;
	background-color: $primary-color;
	text-transform: uppercase;
}