@import "../../../../static/css/vendors/materialize/components/_color";
@import "../../../../static/css/vendors/materialize/components/_variables";

// ========   NOTIFIERS   ==========

.notifier-error {
    background-color: $error-color;
}

.notifier-success {
    background-color: $success-color;
}

.notifier-warning {
    background-color: $warning-color;
}

// =================================