@import "../../../../../static/css/vendors/materialize/components/color";
@import "../../../../../static/css/vendors/materialize/components/variables";




#show-workers {
    margin-top: -.8em;

    #worker-panel {
        padding-left: 8px;

        #worker-title {
            width: 50%;
        }

        .top-worker-button {
            cursor: pointer;
            margin-top: 1.05rem;
            margin-right: 0.3rem;
            .top-worker-icon {
                color: $accent-color;
                font-size: 1.3rem;
            }
        }

    }

}
