br
.container
  .row
    .col.s5
      svg(width="300" height="300")
        // Recortar
        defs
          clipPath#recorte
            rect(x="50" y="50" width="200" height="100")
              animate(attributeName="y" from="15" to="120" dur="5s" repeatCount="indefinite")

        circle(cx="150" cy="120" r="100" clip-path="url(#recorte)" fill="#304ffe")
    
    .col.s7
      h5 Recortar
      h6
        b
          a(href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Clipping_and_masking") Referencia
      p Para crear un <span style="color:#304ffe; font-weight:bold;">recorte</span>, dentro de un elemento <code>defs</code>, creamos un elemento <code>clipPath</code> identificado. Dentro de este creamos una figura que aplicaremos a otro elemento. El otro elemento sólo mostrará los puntos comprendidos en la ruta del <code>clipPath</code>.
      p Para aplicar el recorte a un elemento le indicamos el atributo <code>clip-path="url(#id_del_recorte)"</code>. En el ejemplo a la izquierda he aplicado un recorte rectangular a un círculo y he <a href="https://codepen.io/mondeja/pen/zPMmyP" target="__blank">animado el recorte</a> para que se aprecie bien.
      br
          
      hr
      br
      center
        a.btn.cyan.darken-3(href="https://codepen.io/mondeja/post/dibujo-vectorial-con-svg" target="__blank") Volver al índice
        a.btn.indigo.darken-4.disabled(href="https://codepen.io/mondeja/pen/ooJNXJ" target="__blank") Siguiente ejemplo ->
      br
      
      
      
      
      
  