.modal#edit-worker-modal
  .modal-content.worker-modal-content
    h5.worker-modal-title Edit remote machine
    form.col.s12
      | {% module xsrf_form_html() %}
      .input-field
        input.validate#edit-worker-input-title(type="text")
        label(for="edit-worker-input-title") Title
      .input-field.col.s6
        input.validate#edit-worker-input-address(type="text" value="192.168.1.XX")
        label(for="edit-worker-input-address") Address
      .input-field
        input.validate#edit-worker-input-password(type="password")
        label(for="edit-worker-input-password") Password
      a.btn.waves-effect.right.worker-modal-save-button#edit-worker-modal-save Save
        i.material-icons.left save
      a.btn.waves-effect.left#edit-worker-modal-cancel Cancel
        i.material-icons.left close
      br
      br
