br
.container
  .row
    .col.s6
      h5.indigo-text#arrastrable Arrástrame al cuadrado amarillo
      #soltable.yellow
      h5#informador      
      
    .col.s6
      h5 Soltar elementos
      p Con la función <code>droppable()</code> de jQueryUI podemos detectar cuando un elemento ha sido arrastrado a otro. Tan sólo debemos aplicarla al elemento que va a recibir el elemento arrastrado. Recibe un objeto con las configuraciones.
      a(href="https://api.jqueryui.com/droppable/") Referencia de la función <code>droppable()</code>
      p Podemos definir callbacks cuando los elementos son soltados y cuando salen, como puedes ver a la izquierda. <a href="https://desarrolloweb.com/articulos/droppable-jqueryui.html">Aquí tienes algunos ejemplos</a>.