header
  .nav.navbar-fixed.valign-wrapper#navbar-top
    a.button-collapse#menu-lateral-button(href="#" data-activates="menu-lateral")
      i.material-icons menu
    a.brand-logo#title-logo(href="#") Admin
