
.container
  h1 Efectos con jQuery
  hr
  h3 Mostrar y ocultar elementos
  h5#texto_rojo(style={color: "red"}) Pulsa aquí para ocultar este elemento
  p Para ocultar elementos usamos la función <code>hide()</code> y para mostrarlos la función <code>show()</code>. Ambas toman dos parámetros, <b>velocidad</b> y <b>callback</b>. Para el parámetro velocidad podemos agregar tanto un número en milisegundos, como una cadena de texto como <code>"slow"</code> (600 ms) ó <code>"fast"</code> (200 ms). También podemos pasar los argumentos como pares claves-valor de un objeto.
  h5#texto_azul(style={color: "blue"}) Pulsa aquí para volver a mostrarlo
  ul
    li
      a(href="http://api.jquery.com/category/effects/basics/") Documentación de <code>hide()</code>, <code>show()</code> y <code>toggle()</code>.
    li
      a(href="http://api.jqueryui.com/easings/") Efectos de suavizado en las transiciones con jQuery UI
  
  h5#prueba Ocultación con pares clave-valor (ver código)
  
  