br
.container
  .row
    .col.s6
      h5#movible.purple-text Prueba a moverme
      h5#movible2.cyan-text Cambio tu cursor mientras me mueves
      h5#movible3.green-text Me acoplo a una rejilla
      h5#movible4.red-text No puedo salir del contenedor padre
    .col.s6
      h5 Arrastrar y soltar elementos
      p Con la función <code>draggable()</code> podemos establecer que los elementos puedan ser movidos a cualquier lugar de la página. Esta acepta un objeto con múltiples posibles parámetros, entre los que se incluyen callbacks al comienzo o al final del arrastre.
      a(href="https://api.jqueryui.com/draggable/") Referencia de la funcion <code>draggable()</code>
      p Al aplicar la función <code>draggable()</code> sobre un elemento, jQueryUI coloca automáticamente una clase CSS llamada <code>ui-draggable</code>. Al moverlo aplica la clase <code>ui-draggable-dragging</code>
      p Puedes acceder a información del elemento arrastrado, como su posición o una referencia al elemento. <a href="https://desarrolloweb.com/articulos/preguntas-respuestas-draggable-jqueryui.html"> En esta página tienes ejemplos</a>.
      